:root{
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    --primary: white;
    --secondary: black;
}

/* navbar */



/*  */


/* Page login */


    .page_login{
        height: 100%;
        width: 100%;

    }

    .page_login main{
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .form_login{
        display: flex;
        flex-direction: column;

    }

/*  */

/* Page sign */


.page_sign{
    height: 100%;
    width: 100%;


}

.page_sign main{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form_sign{
    display: flex;
    flex-direction: column;

}

/*  */


/* header */

header nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: relative;
    width: 100%;
    min-height: 60px;
    height: min-content;
}

header details{
    display: flex;
    align-items: end;
    justify-content: center;
    position: absolute;
    right: 0;
    text-align: center;
}

header summary{
    all: unset;
    display: flex;
    align-items: center;
    justify-content: end;
}

header summary img{
    height: 30px; 
    width: 30px;
}


/*  */